<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario</title>

</head>
<body>
    <video autoplay></video>
    <canvas></canvas>
    <br>
    <button id="btnTirarFoto">tirar foto</button>

    <form id="myForm" action="/ler_img/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="imagem" id="imagemToUpload">

        <input type="submit" value="Enviar">
    </form>
<div>
    <img src="/media/{{cartao.imagem}}" alt="{{mensagem}}">
    <br>
    
<div id="texto">
    {{descricao}}
    </div>
    </h3> 
</div>

    <input type="button" value="Ler" id="btnLer">
    <button id="btnParar" onclick="pararAudio()">Parar Audiodescrição</button>
    
    <script>
        var video = document.querySelector('video');
        var canvas = document.querySelector('canvas');
        var context = canvas.getContext('2d');

        var imagemToUpload = document.querySelector("#imagemToUpload");
        var btnTirarFoto = document.querySelector('#btnTirarFoto')
        var btnParar = document.querySelector('#btnParar')

        navigator.mediaDevices.getUserMedia({video: true})
            .then(stream => {
                video.srcObject = stream;
                video.play();
            })
            .catch(error => {
                console.log(error);
        })

        btnTirarFoto.addEventListener('click', () => {
            //Ajustar o tamanho do canvas para armazenar a imagem.
            canvas.height = video.videoHeight;
            canvas.width = video.videoWidth;

            //Salvar a imagem.
            context.drawImage(video, 0, 0);
            imagemToUpload.value = canvas.toDataURL("image/jpeg");
        })
    
        const synth = window.speechSynthesis;             
        const btnLer = document.getElementById("btnLer");
        const texto = document.getElementById("texto");
                        
        btnLer.addEventListener("click", () => {
            const utterThis = new SpeechSynthesisUtterance(texto.textContent);
            synth.speak(utterThis);
        });

        btnParar.addEventListener("click", () => {
            if(synth.speaking){
                synth.pause();
            }else{
                synth.resume();
            }
        })

</script>
</body>
</html>