<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="">
        Remetente
        <input type="text" name="remetente">
        <br>

        Destinatario
        <input type="text" name="destinatario">
        <br>

        Mensagem
        <textarea name="mensagem" id=""></textarea>
        <br>
        <input type="submit" value="enviar">
    </form>

    <div>
        Remetente recebido: {{remetente}}, 
        resposta:
        <pre>
            {{resposta}}

        </pre>
    </div>
    <script>
        const synth = window.speechSynthesis;
        const btnLer = document.getElementById("btnler");
        const texto = document.getElementById("texto");

        btnLer.addEventListener("click", () => {
            const utterThis = new SpeechSynthesisUtterance(texto.value);
            synth.speak(utterThis);

            var btnLer = document.getElementById(texto.value);
            var texto = btnLer.innerText;


        });
            
    </script>

    
</body>
</html>