<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam</title>
</head>
<body>
    abelha
  
    <video autoplay></video>
    <canvas></canvas>
    <br>
    <button id="bntTirarFoto">Tirar Foto</button>

    <form id="myForm" action="/ler_img/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="imagem" id="imageToUpload">

        <input type="submit" value="enviar">
    </form>

    <script>
        var video = document.querySelector('video');

        var canvas = document.querySelector('canvas');
        var context = canvas.getContext('2d');

        var imageToUpload = document.querySelector('input#imageToUpload');
        var bntTirarFoto = document.querySelector('#bntTirarFoto');

        navigator.mediaDevices.getUserMedia({ video: true }) 
        .then(stream => {
            video.srcObject = stream;
            video.play(); 
        })
        .catch(error => {
            console.log(error);
        }
    )

    bntTirarFoto.addEventListener('click', () => {
        canvas.height = video.videoHeight;
        canvas.width = video.videoWidth;

        context.drawImage(video,0,0);
        imageToUpload.value = canvas.toDataURL("image/jpeg");
    });
        

    </script>
</body>
</html>