<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background-color:  #6a7374; /* cor de fundo cinza claro */
        }

        video{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #titulo{
            text-align: center;
            font-size: 130px;
            font-family: 'Montserrat', sans-serif;
            color:rgb(22, 22, 194)
        }
    </style>  
 
</head>
<body>
   
   
    <h1 id="titulo">webcam</h1>


    
    <video id="video" width="640" height="480" autoplay></video>
    <canvas  id="canvas" hidden  width="640" height="480"></canvas>
    <form id ="myForm" action="/ler_img/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="imagem" id="imagemToUpload">

    </form>

    

    <script>
        const video = document.getElementById('video')
        const canvas = document.getElementById('canvas')
        const context = canvas.getContext('2d')
        var imageToUpload = document.getElementById('imagemToUpload')
        var myForm = document.getElementById('myForm')


        const drawImage = () => {
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            imageToUpload.value = canvas.toDataURL('image/png')
        }

        document.addEventListener('click', () => {
            drawImage()
            myForm.submit()
        })

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream
                video.play()
            })
            .catch(err => {
                console.error(err)
            })
        navigator.mediaDevices.getUserMedia({
            video: {
            facingMode: 'environment'
            }
            })
            .then(stream => {
            video.srcObject = stream
            video.play()
            })
            .catch(err => {
            if (err.name === 'NotAllowedError') {
            console.log('O usuário não concedeu permissão para acessar a câmera.')
            } else {
            console.error(err)
            }
            })

        

    </script>
</body>
</html>